@model Do_An.Models.TbAccount

<li class="nav-item dropdown">
    <a class="nav-link" data-toggle="dropdown" href="#">
        <i class="far fa-user"></i>
    </a>
    <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
        <a href="#" class="dropdown-item">Trang cá nhân</a>
        <a href="#" class="dropdown-item">Cài đặt</a>
        <a href="@Url.Action("Logout", "Login")" onclick="return confirm('Bạn chắc chắn muốn đăng xuất ?')" class="dropdown-item">Đăng Xuất</a>
    </div>
</li>