@model IEnumerable<Do_An.Models.TbMovie>

<div class="slick-multiItem">
    @foreach (var item in Model)
    {
        string sUrl = $"/movie/{item.Alias}-{item.MovieId}.html";
        <div class="slide-it">
            <div class="movie-item">
                <div class="mv-img">
                    <img src="~/files/item/@item.Image" alt="@item.Title" width="185" height="284">
                </div>
                <div class="hvr-inner">
                    <a href="@sUrl"> Xem thêm <i class="ion-android-arrow-dropright"></i> </a>
                </div>
                <div class="title-in">
                    <h6><a href="#">@item.Title</a></h6>
                    <p><i class="ion-android-star"></i><span>@item.Rating</span> /10</p>
                </div>
            </div>
        </div>
    }
</div>
